.backlog-page-main-container{
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.backlog-page-header{
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}