.profile-container{
    display: flex;
    flex-direction: column;
}
.profile-top-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:10px 20px 0 20px;
}
.profile-pic{
    display: block;
    width: 50px;
    height: 50px;
}