.profile-container{
    display: flex;
    flex-direction: column;
}
.profile-top-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:10px 20px 0 20px;
}
.profile-pic{
    display: block;
    width: 100px;
    height: 100px;
}
.profile-pic-section-container{
    display: flex;
}
.button-div{
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.profile-del-button-container{
    display: flex;
    align-items: center;
}
.profile-edit-container{
    display: flex;
    flex-direction: column;
    padding-right: 1rem;
}
.profile-edit-container-label{
    margin-top: 1rem;
}