.notify{
    position: absolute;
    left: 85%;
    top: 10%;
    display: flex;
    flex-direction: column;
}
.notify-instance{
    background-color: #000;
    color: white;
    padding: .5rem;
    border-radius: .25rem;
    margin: .25rem;
}

.notify-button-container{
    align-self: center;
    padding-left: .5rem;
}

.hidden{
    display: none; 
}
