.bunchApp-container{
    display: flex;
    justify-content: center;
}

.bunchApp-page-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: scroll;
    height: 80vh;
}

.bunchApp-navbar-container{
    height: 78.95vh;
    background-color: var(--bg3-color);
    padding: .25vw;
}