.income-stream-form-main-container{
    display: flex;
    flex-direction: column;
    padding: 15px;
}
.income-stream-form-main-container{
    display: flex;
    flex-direction: column;
    padding: 15px;
}