.header-container{
    display: flex;
    background-color: var(--bg-color);
    flex-direction: row;
    text-align: center;
    align-items: center;
    height: 10vh;
    justify-content: space-between;
    padding: 0 1rem;
}
.options-container{
    display: flex;
}
.header-option{
    padding-right: 1rem;
    &:hover{
        cursor: pointer;
        color: blue;
    }
}