body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --bg-color: #e6e6e6;
  --bg2-color: #f5f5f5;
  --text-color: #000000;
  --accent-color: #0078d7;
}

/* Dark Theme */
[data-theme='dark'] {
  --bg-color: #1e1e1e;
  --bg2-color: #373636;
  --text-color: #ffffff;
  --accent-color: #d896ff;
}