.home-container{
    display: flex;
    flex-direction: column;
    background-color:darksalmon;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.home-text-content{
    width: 75vw;
}